@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

h1{
    padding: 50px 0;
}

#create{
    position: fixed ;
    display: grid ;
}

.formEdit{
    position: absolute;
    z-index: 2;
    display: none;
    padding: 5% 5%;
    width: 100%;
    height: 100%;
    justify-self: center;
    row-gap: 30px;
    background-color: rgba(0, 0, 0, 0.925);
    box-shadow: 0px 0px 9px 3px #636129;
}


.formEdit p{
    color: white;
    margin-right: 15px;
}

.formEdit h3{
    color: rgb(199, 199, 199);
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 5px;
    text-align: center;
}

.formEdit input, .formEdit textarea{
    font-size: 15px;
    border: none;
    color: white;
    padding: 10px;
    height: 40px;
    justify-self: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.33);
    border-radius: 4px;
    box-shadow: #630202 0px 0px 14px 0px;
}

.formEdit textarea{
    min-height: 80px;
}

.SaveForm{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.formEdit .inline{
    display: grid;
    grid-template-columns: 1fr 100fr;
    padding: 0 ;
    margin-top:0;
    justify-items: center;
}

.SaveForm p{
    cursor: pointer;
    background-color: rgb(48, 190, 107);
    justify-self: center;
    max-width: 400px;
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
.SaveForm p:first-of-type{
    background-color: rgb(180, 57, 57);
}

.sim, .nao{
    padding: 10px !important;
    cursor: pointer;
}

.inline{
    padding:25px 0;
    margin-top: 20px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.unavailable{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    display: grid;
    z-index: 2;
    border: #864c4c69 solid 1px;
}

.unavailable p{
    justify-self: center;
    align-self: center;
    color: rgb(212, 54, 54);
    text-shadow: rgb(170, 13, 13) 0px 0px 5px;
    padding-top: 50px;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.tags{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 95%;
    padding: 5px;
    align-items: center;
    justify-items: center;
}

.tag{
    text-align: center;
    background-color: #590000;
    padding: 6px !important;
    border-radius: 10px;
    font-size: 12px !important;
    width: 80%;
    margin-top: 10px;
}

.tag:last-child{
    background-color: #811616;
    font-size: 20px !important;
    color: white;
    cursor: pointer;
}

.tag:last-child:hover{
    background-color: #b03838;
}

.controls{
    justify-content: left;
    width: 80%;
}
.controls i{
    cursor: pointer;
    font-size: 30px;
    color: rgb(54, 206, 24);
    padding: 10px;
    transition: all 300ms;
}

.controls i:last-of-type{
    color:rgb(255, 89, 89);
}

.controls i:hover{
    border-radius: 40%;
    background-color: rgba(0, 0, 0, 0.267);
}

.addItem{
    justify-self: center;
    align-self: center;
    cursor: pointer;
    border: 1px solid #12ff00;
    height: 50px;
    width: 50%;
    max-width: 600PX;
    min-width: 200PX;
    font-size: 30px;
    text-align: center;
    color: green;
    transition: all 300ms;
    margin-top: 20px;
}

.addItem:hover{
    border:none;
    color: #ffffff;
    background-color: rgb(5, 115, 5);
    box-shadow: rgb(14, 115, 5) 0px 0px 8px 4px;
}

.btn_create{
    width: 100%;
    max-width: 1200PX;
    justify-self: center;
}
.button{
    margin-top: 20px;
}

@media (max-width: 900px){
    .unavailable p{
        font-size: 15px;
    }

}
