    <!DOCTYPE html>
    <html lang="pt">
    <head>
        <title>Zeta - Lanches</title>
        <meta charset="UTF-8">
        {% block header %}
            
        {% endblock %}
    </head>
    <body>

        {%include "template/header.njk"%}

            {%block content%}
            {%endblock%}

        {%include "template/footer.njk"%}

    </body>
</html>