    <!DOCTYPE html>
    <html lang="pt">
    <head>
        <title>Zeta - Lanches</title>
        <meta charset="UTF-8">
    {# SEO #}
        <meta property="og:type" content="website">
        <meta property="og:title" content="Zeta - Lanches">
        <meta property="og:description" content="Mora na comunidade quilombola de Alegre? Acesse agora e faça seu pedido!">
        <meta property='og:image' content='/images/icon.ico'/>                      <!--Ícone de compartilhamento-->
        <meta property="og:url" content="https://www.gabrielrwx.com.br/">
        
        <link rel='shortcut icon' href="/images/icon.ico"/>                         <!--Ícone de compartilhamento-->
        <link rel="shortcut icon" href="/images/icon.ico" type="image/x-icon" />    <!--Ícone da barra de título-->
        {% block header %}
            
        {% endblock %}
    </head>
    <body>

        {%include "template/header.njk"%}

            {%block content%}
            {%endblock%}

        {%include "template/footer.njk"%}

    </body>
</html>