{%block header%}
    <!DOCTYPE html>
    <html lang="pt">
    <head>
        <title>Zeta - Lanches</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <h1>kkkkk</h1>
        </header>
{%endblock%}

{%block content%}
{%endblock%}

{%block footer%}
        <footer>
            <a href="https://www.gabrielrwx.com.br/" target="_blank"><img src="images/grwx.png" alt="GRWX"></a>
            <p>Copyright © 2020 Gabriel_RWX</p>
        </footer>
    </body>
{%endblock%}