{%extends "template/layout.njk" %}
{% block header %}
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/default.css">
{% endblock %}
{% block content %}
<div class="content">
    <div class="card">
        <img src="/images/profile.jpg" alt="Elizete">
        <h1>Zeta-Lanches</h1>
        <div class="text">
            <p>Olá! Meu nome é Elizete [Zeta]. Sou artesã, boleira e em momentos vagos, faço lanches. Neste período de pandemia venho trabalhando com a prática do delivery, então basta fazer o pedido e esperar no conforto de sua casa 😊</p>
            <p>Delivery somente para a comunidade quilombola de Alegre!</p>
        </div>
        <a class="button" href="/menu">Ver cardápio</a>
    </div>
</div>
{% endblock %}
