@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;400;500;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans SC', sans-serif;
}

body{
    background-image: linear-gradient(to top, #000000, #3b0505 80%);
    display: grid;
}


.button{
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    color: white;
    line-height: 30px;
    padding: 20px;
    cursor: pointer;
    

    transition: all 300ms;

    animation-name: focus_me;
    animation-duration: 800ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.button:hover{
    color: #ffb7b7;
    background-color: rgb(115, 5, 5);
    box-shadow: rgb(115, 5, 5) 0px 0px 8px 4px;
}

@keyframes focus_me{
    /* Início */
    from{ 
        border: 2px solid rgb(187, 16, 58);
    }
    
    /* Fim */
    to{
        
        border: 2px solid rgb(115, 32, 32);
    }
}
    


footer{
    display: grid;
    row-gap: 10px;
    align-items: center;
    justify-items: center;
    padding: 20px 10px;
    min-height: 70px;
    margin-top: 100px;

    border-top: rgba(255, 255, 255, 0.76) 1px solid;
    box-shadow: rgba(255, 255, 255, 0.58) 0px 5px 20px 9px;
}

footer a img{
    width: 80px;
}

footer p{
    text-align: center;
    color:white;
    font-size: 11px;
}