@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


.content{
    display: grid;
    /* padding: 20px 0; */
    /* justify-self: center; */
}

body .inline_buttons{
    display: flex;
    width: 60%;
    padding: 10px;
    align-self: center;
    justify-content: center;
}

.span_input{
    display:none;
}

.text{
    color: white;
}

.text p{
    font-size: 20px;
    padding: 25px;
    text-align: center;
    font-weight: 100;
}

.text p:last-of-type{
    font-size: 30px;
    font-weight: 900;
    line-height: 150px;
    text-transform: uppercase;
    letter-spacing: 6px;
    text-shadow: black 4px 4px 6px;
}

.cards{
    position: relative;
    display: grid;
    justify-self: center;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    width: 100vw;
    max-width: 1500px;
    row-gap: 50px;
}

.item{
    position: relative;
    display: grid;
    justify-self: center;
    align-items: center;
    grid-template-columns: 1fr;
    background-color: #330000;
    justify-items: center;
    max-width: 400px;
    box-shadow: black 1px 1px 20px 0;
    padding-bottom: 20px;
}

.item img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.item h3{
    color: rgba(255, 255, 255, 0.911);
    line-height: 70px;
    white-space: nowrap;
    font-size: 18px;
    padding: 0 35px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 7px;
}

.item p{
    padding: 10px 20px;
    color: rgba(255, 255, 255, 0.73);
    font-weight: 900;
    font-size: 14px;
}

.item .descricao{
    font-weight: normal;
    opacity: 0.7;
    font-size: 14px;
    padding: 20px;
    text-align: justify;
}

.item input{
    text-align: center;
    font-size: 20px;
    border: none;
    color: white;
    padding: 10px;
    height: 50px;
    width: 40%;
    max-width: 650px;
    background-color: rgba(0, 0, 0, 0.33);
    border-radius: 4px;
    box-shadow: #8b0101 0px 0px 5px 3px;

    
    animation-name: focus_me;
    animation-duration: 2000ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.button:hover{
    color: #ffb7b7;
    background-color: rgb(115, 5, 5);
    box-shadow: rgb(115, 5, 5) 0px 0px 8px 4px;
}

@keyframes focus_me{
    /* Início */
    from{ 
        border: 3px solid rgba(240, 50, 50, 0.294);
    }
    
    /* Fim */
    to{
        
        border: 3px solid rgb(57, 9, 9);
    }
}


.item .inline_items{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    padding-left: 20px;
    width: 50%;
}

.inline_items p:first-of-type{
    align-self: center;
    padding: 0;
}

.subToTop{
    position:fixed;
    display: none;
    z-index: 1;
    color: black;
    font-size: 50px !important;
    background-color: #008100;
    box-shadow: #00c117 0px 0px 9px 2px;
    padding: 5px 10px;
    align-self: center;
    border-radius: 4px;

    animation: none;
    animation-name: toTop;
    animation-play-state: paused;
    animation-duration: 1000ms;
    animation-timing-function: cubic-bezier(0.05, 1.16, 1, 0.21);
    animation-fill-mode: forwards;
    /* animation-iteration-count: infinite; */
}


@keyframes toTop{
    /* Início */
    from{
        top: 160%;
    }
    
    /* Fim */
    to{
        top: -60%;
    }
}

.inline_items p:last-of-type{
    background-color: #c4000042;
    padding: 5px 10px;
    align-self: center;
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.596);
    white-space: nowrap;
}

.inline_sabor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    padding: 0 5px;
}

.inline_sabor div{
    justify-items: center;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr;
}

.inline_sabor div .sabor{
    background-color: #590000 !important;
    padding: 3px 5px !important;
    font-size: 15px;
    align-self: center;
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.596);
    white-space: nowrap;
}

.inline_sabor div input{
    font-size: 15px;
    height: 50px;
    width: 100px;
    box-shadow: #590000 0px 0px 0px 3px;
}

.item .operadores{
    font-size: 20px;
}

@media (max-width: 1250px){
    .cards{
        grid-template-columns: 1fr 1fr;
        row-gap: 80px;
    }
}

@media (max-width: 900px){
    .cards{
        grid-template-columns: 1fr;
        row-gap: 80px;
    }
    .text p{
        font-size: 20px;
    }
    .text p:first-of-type{
        font-size: 13px;
        padding: 5px 2px;
    }
    .text p:last-of-type{
        font-size: 18px;
        line-height: 70px;
    }
    .item{
        width: 90vw;
        min-height: 70vh;
    }

    .item h3{
        font-size: 20px;
        letter-spacing: 3px;
        padding: 0;
        line-height: 70px;
    }

    .item img{
        height: 200px;
    }

    .item .descricao{
        padding: 20px;
        padding-top: 0;
        font-size: 15px;
    }

    .item .inline_items{
        width: 80%;
    }

    .inline_sabor div input{
        font-size: 14px;
    }

    .item p{
        align-self: end;
        font-size: 20px;
    }
    .item input{
        font-size: 20px;
        padding: 5px;
        height: 50px;
        width: 50%;
    }
    .item .operadores{
        font-size: 20px;
    }

    .total{
        font-size: 50px;
    }

    .confirm{
        font-size: 15px !important;
        height: 150px;
    }

    .inline_sabor div input{
        font-size: 15px;
        height: 40px;

        width: 80px;
    }
}

.total{
    display: none;
    top:0;
    left:0;
    position: fixed;
    z-index: 4;
    font-size: 25px;
    text-transform: uppercase;
    width: 100vw;
    height: 50px;
    align-items: center;
    color: #15e11a;
    font-weight: 700;
    background-color: #061401e3;
    box-shadow: #34b209 1px 1px 20px;
    justify-content: center;
    justify-self: center;
}

.total p:first-child{
    margin-right: 20px;
}

.confirm{
    margin-top: 50px;
    background-color: #150101;
    width: 80%;
    height: 60px;
    align-self: center;
    justify-self: center;
    font-size: 20px;
}